<h2>Latest Urls created</h2>
<ul>
<% @latest_urls.each do |u| %>
  <li><code><a href="<%= root_url + "us/" + u.token -%>"><%= root_url + "us/" + u.token -%></a></code> --points-to <code><a href="<%= u.url -%>"><%= u.url -%></a></code> 
    <% if u.fun %>
      --alternates-to <code><a href="<%= u.alt_url -%>"><%= u.alt_url -%></a></code>  
    <% end %>
    --hits <span class="number"><%= u.hits.to_s -%></span> --creator-ip <span class="number"><%= u.creator %></span> --created-at <span class="number"> <%= u.created_at.to_s %></span>
  </li>
<% end %>
</ul>
