<!DOCTYPE html>
<html>
<head>
  <title>Trll - url shortener?</title>
  <link rel="shortcut icon" href="/assets/favicon.ico"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<!-- START OF FB AND G+ SCRIPTS, TEMPORARILY COMMENTED OUT FOR NONE OF YOUR BUSINESS
 
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script><g:plusone size="medium" annotation="inline" width="120"></g:plusone>
  <div class="fb-like" data-href="http://trll.co" 
        data-send="false" data-layout="button_count" 
            data-width="120" data-show-faces="false" data-font="verdana" style="margin-left:600px; align:center">
  </div>
END OF FB AND G+ SCRIPTS, STILL NONE OF YOUR BUSINESS -->
  
<div id="header">
  <div id="logo">
    <%= link_to root_url do %>
      <%= image_tag "trll_logo.png", :alt => "trll" %>
    <% end %>
  </div>
  <div><small> yet another url shortener </small></div>
  
  <div id="nav">
    <a id="latest-link" href="/us/all">latest urls</a>
    <a id="email-link" href="mailto:akhoury@ieee.org" target="_blank">problem?</a>
  </div>
</div>
<% if flash[:notice].present? %>
  <p class='notice'> <%= flash[:notice] %> </p>
<% elsif flash[:short_id].present? %>
  <p class='short-link'>
    The shortened url is available <%= link_to 'here',
root_url + flash[:short_id] %>.
    (Right click and copy link to share it). or here: <pre><%= root_url + flash[:short_id] %></pre>
  </p>
<% end %>

<%= yield %>
<div id="footer">
  <small><br/><br/><br/>Site still beta.<br/>
For entertainment use only. TRLL is not responsible for any content linked in the generated URLs. Use at your own risk, no warranty of any kind.<br/>
Copyright © <%= DateTime.now.year %> by <a href="/ak">bentael</a> -- like the site? <a id="donate-link" href="https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=bentael%40gmail%2ecom&lc=US&item_name=trll&no_note=0&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donate_SM%2egif%3aNonHostedGuest">buy me a beer</a>, thx.
</small>
</div>
</body>
</html>
